<ion-view view-title="Open Weather - About">
  <ion-content>

    <div class="padding">
      <p>
        Open Weather is a free (no ads) and open source weather application created for educational purposes.
        Forecast data are provided by <a href="#" ng-click="openLink('http://openweathermap.org/')">openweathermap.org</a>.
      </p>
      
      <p>
        Open Weather is an hybrid mobile apps powered by HTML 5, 
        the development was done completely inside a browser, using Cloud 9 as a development environment, 
        Cordova, Ionic, AngularJS and Phonegap Build service for the final build.
      </p>
    </div>

    <div class="padding">
      <p>
        Full source code on github at 
        <a href="#" ng-click="openLink('https://github.com/davideicardi/open-weather')"><i class="ion-social-github"></i> github.com/davideicardi/open-weather</a>      
      </p>
      
      <p>
        Suggestions or code improvements are welcome!
      </p>
    </div>
  </ion-content>
</ion-view>
